.score-board {
}
.vs-board {
  display: grid;
  width: 100%;
  grid-template-rows:  50vh 30vh;
}
.vs-board .body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  color: white;
  font-size: 0.9em;
  padding: 0.5rem;

  
}
.vs-board .body .player {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center; 
  justify-content: center; 
  width: 50vw;
}
.vs-board .body .player .name {

}

.vs-board .body .player .options-btn {
  display: grid;
  place-items:center;

  padding: 0.5rem;
  width: 100%;
  height: 50%;
}

.vs-board .body .result-body {

}
.vs-board .body .play-again-btn {
    text-transform: uppercase;
    font-size: 0.5em;
    color:black;
    width: 10em;
    border-radius: 6px;
    outline: 0;
    border: 0;
    height: 2.5em;
    cursor: pointer;
}
.vs-board .body .play-again-btn:hover{
  color: red;
}

.vs-board .body .computer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center; 
  justify-content: center;
  width: 50vw;
}
.vs-board .body .computer .name {

}
.vs-board .body .computer .options-btn{
  display: grid;
  place-items:center;

  width: 100%;
  height: 50%;

}
.vs-board .body .computer .options-btn .empty-btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 50%;

}
.vs-board .body .shadow-circle{
  display: block;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;

}

.vs-board .result-body{


}



.status-component{

  display: grid;
  place-items: center;
  grid-template-rows: 0.2fr 1fr;
}
.status-component .title{
  padding: 0;margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: white;
}
.status-component .play-again-btn{
  width: calc(50vw + 1rem);
  height: calc(3vh + 1.5rem);
  font-size: 0.8rem;
  font-weight: 700;
  word-spacing: 0.2rem;
  text-transform: uppercase;
  border-radius: 15px;
  color: hsl(214, 47%, 23%);
    background: white;
    border: 0;


}