.score-board {
}
.vs-board {
height: 100vh;
width: 100%;
  color: white;
  text-transform: capitalize;
  font-size: 1.1em;
  font-weight: 600;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 90% 10%;
}
.vs-board .body {
  display: flex;
  flex-direction: row;
  
}
.vs-board .body .player {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 90%;
}
.vs-board .body .player .name {
  text-align: center;
  padding-top: 1em;
}

.vs-board .body .player .options-btn {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.vs-board .body .result-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
.vs-board .body .play-again-btn {
    text-transform: uppercase;
    font-size: 0.5em;
    color:black;
    width: 10em;
    border-radius: 6px;
    outline: 0;
    border: 0;
    height: 2.5em;
    cursor: pointer;
}
.vs-board .body .play-again-btn:hover{
  color: red;
}

.vs-board .body .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1;
  height: 96%;
}
.vs-board .body .computer .name {
  text-align: center;
  padding-top: 1em;
}
.vs-board .body .computer .options-btn{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}
.vs-board .body .computer .options-btn .empty-btn {
  display: block;
  width: 100px;
  height: 100px;
  background-color: hsla(0, 0%, 0%, 0.2);
  border-radius: 50%;

}

.vs-board .body .btn-content{
position: relative;

}
.vs-board .body .shadow-circle{
  display: block;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  position: absolute;

}
