.app-body{
  position: relative;
  display: grid;
  grid-template-rows: 80% 20%;
  place-items: center;
  }
  .app-options{
    position: relative;
    width: 90vw;
    height: 100%;
    max-width: 500px;


  }
  .option-btn{
    position: absolute;
    top: 0;
  }
  
  .option-btn.btn-1{
    transform: translateX(0%) translateY(20%);
  }
  .option-btn.btn-2{
    transform:  translateX(150%) translateY(20%);
  }
  .option-btn.btn-3{
    transform: translateX(80%) translateY(150%);
  }
.option-connections{
    position: relative;
    height: 100%;
    width: 100%;
    background: rosybrown;
  }
  .option-connections > span{
    position: absolute;
    width: 250px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .option-connection-1{
    top: 50%;
    transform: translateX(15%) rotateZ(60deg);
  }
  
  .option-connection-2{
    right: 0;
    top: 50%;
    transform: translateX(-15%)  rotateZ(-60deg);

  }
  .option-connection-3{
    top: 25%;
    transform: translateX(40%);
  }
   
  
  