.app-body{
  display: grid;
  place-items: center;
  background: rgb(134, 66, 66);
  width: 100vw;
  }
  .app-options{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    background: rgb(252, 0, 197);

  }
  .option-btn{
    position: absolute;
  }
  
  .option-btn.btn-1{
    left: 2%;
    top: calc(25% - 100px);
  }
  .option-btn.btn-2{
    right: 2%;
    top: calc(25% - 100px);
  }
  .option-btn.btn-3{
    bottom: 10%;
    left: calc(50% - 100px);
  }
.option-connections{
    position: relative;
    height: 100%;
    width: 100%;
    /* background: white; */
  }
  .option-connections > span{
    position: absolute;
    width: 100%;
    max-width: 250px;
    height: 50%;
    max-height: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .option-connection-1{
    top: 50%;
    transform: translateX(15%) rotateZ(60deg);
  }
  
  .option-connection-2{
    right: 0;
    top: 50%;
    transform: translateX(-15%)  rotateZ(-60deg);

  }
  .option-connection-3{
    top: 25%;
    transform: translateX(50%);
  }
   
  
  