.btn {
  position: relative;
  width: calc(1vw + 6rem);
  height: calc(1vw + 6rem);
  // max-height: 200px;
  // max-width: 200px;
}
.btn.clicked .box-1 .box-2 {
  transform: translateY(-5%);
}
.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: perspective(300px) rotateX(10deg);
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: hsl(230, 89%, 65%);
  transform: translateY(-10px);
  overflow: hidden;
}

.box-1.rock {
  background-color: hsl(349, 71%, 52%);
}
.box-1.rock .box-2 {
  background-color: hsl(349, 70%, 56%);
}
.box-1.paper {
  background-color: hsl(230, 89%, 62%);
}
.box-1.paper .box-2 {
  background-color: hsl(230, 89%, 65%);
}

.box-1.scissors {
  background-color: hsl(39, 89%, 49%);
}
.box-1.scissors .box-2 {
  background-color: hsl(40, 84%, 53%);
}

.box-1.lizard {
  background-color: hsl(261, 73%, 60%);
}
.box-1.lizard .box-2 {
  background-color: hsl(261, 72%, 63%);
}

.box-1.cyan {
  background-color: hsl(189, 59%, 53%);
}
.box-1.cyan .box-2 {
  background-color: hsl(189, 58%, 57%);
}

.box-3 {
  display: grid;
  place-items: center;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 50%;
  background-color: hsl(0, 0%, 57%);
  overflow: hidden;
}
.box-4 {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  transform: translateY(8px);
}
.box-5 {
  display: grid;
  place-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 50%;
  background-color: rgba(219, 219, 219, 0.1);
}
