.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.btn.clicked .box-1 .box-2 {
  transform: translateY(-5px);
}
.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: perspective(300px) rotateX(10deg);
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.box-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: hsl(230, 89%, 65%);
  transform: translateY(-10px);
  overflow: hidden;
}

.box-1.rock {
  background-color: hsl(349, 71%, 52%);
}
.box-1.rock .box-2 {
  background-color: hsl(349, 70%, 56%);
}
.box-1.paper {
  background-color: hsl(230, 89%, 62%);
}
.box-1.paper .box-2 {
  background-color: hsl(230, 89%, 65%);
}

.box-1.scissors {
  background-color: hsl(39, 89%, 49%);
}
.box-1.scissors .box-2 {
  background-color: hsl(40, 84%, 53%);
}

.box-1.lizard {
  background-color: hsl(261, 73%, 60%);
}
.box-1.lizard .box-2 {
  background-color: hsl(261, 72%, 63%);
}

.box-1.cyan {
  background-color: hsl(189, 59%, 53%);
}
.box-1.cyan .box-2 {
  background-color: hsl(189, 58%, 57%);
}

.box-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgb(177, 177, 177);
  overflow: hidden;
}
.box-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
  transform: translateY(8px);
}
.box-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  background-color: rgba(219, 219, 219, 0.1);
}
