:root{
  --bg-color-1:radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  
}

html,body{
  background: var(--bg-color-1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;

}
