.rules-btn{
    background: transparent;
    width: calc(25vw + 0.5rem);
    height: calc(4vh + 0.5rem);
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    font-size: 0.6em;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
    
  }